In [2]:
###导入pandas包，数据数据常用包
import pandas as pd

In [5]:
### 数据读取，读取后的数据类型为DateFrame
label=pd.read_csv('label.csv')
fea=pd.read_csv('fea.csv')

In [6]:
### 查看label这个DateFrame的头部（前5行）
label.head()

   case_id date_decision   MONTH  WEEK_NUM  target
0        0    2019-01-03  201901         0       0
1        1    2019-01-03  201901         0       0
2        2    2019-01-04  201901         0       0
3        3    2019-01-03  201901         0       0
4        4    2019-01-04  201901         0       1

In [7]:
### 查看DateFrame的大小，多少行多少列
label.shape

(1000, 5)

In [14]:
### 查看dateframe第2行第4行
label.iloc[1,3]

0

In [18]:
### 查看dateframe前10行前2列
label.iloc[:10,:2]

   case_id date_decision
0        0    2019-01-03
1        1    2019-01-03
2        2    2019-01-04
3        3    2019-01-03
4        4    2019-01-04
5        5    2019-01-02
6        6    2019-01-03
7        7    2019-01-03
8        8    2019-01-03
9        9    2019-01-03

In [20]:
###按照中括号内列对dateframe进行去重
label=label.drop_duplicates(['case_id','date_decision'])

In [22]:
### 查看一列有哪些取值
label['target'].unique()

array([0, 1])

In [8]:
### 横向拼接（类似sql中的join）
df_merge=pd.merge(label,fea,how='left',on=['case_id'])   ## how连接方式，on连接主键

In [10]:
### 每列有多少缺失值
df_merge.isnull().sum()

case_id                           0
date_decision                     0
MONTH                             0
WEEK_NUM                          0
target                            0
amtdebitincoming_4809443A      1000
amtdebitoutgoing_4809440A      1000
amtdepositbalance_4809441A     1000
amtdepositincoming_4809444A    1000
amtdepositoutgoing_4809442A    1000
num_group1                     1000
dtype: int64

In [11]:
### 纵向拼接 
df_concat=pd.concat([label,fea])

In [13]:
### 分组（类似sql中groupby）
fea.groupby(['case_id']).agg({'amtdepositbalance_4809441A':'count','amtdepositincoming_4809444A':'max'})
## 通过case_id聚合，计算amtdepositbalance_4809441A列的记录数，amtdepositincoming_4809444A列的最大值

         amtdepositbalance_4809441A  amtdepositincoming_4809444A
case_id
43801                             1                          0.0
43991                             1                          0.0
44001                             1                          0.0
44053                             1                          0.0
44130                             1                          0.0
...                             ...                          ...
231603                            1                          0.0
231607                            1                          0.0
231612                            1                          0.0
231613                            1                          0.0
231618                            1                          0.0

[10000 rows x 2 columns]

In [19]:
### 对某列做操作
### 对dateframe的date_decision操作，取前7个字符，结果生成新的一列month
label['month']=label['date_decision'].apply(lambda x :x[:7])
label

     case_id date_decision   MONTH  WEEK_NUM  target    month
0          0    2019-01-03  201901         0       0  2019-01
1          1    2019-01-03  201901         0       0  2019-01
2          2    2019-01-04  201901         0       0  2019-01
3          3    2019-01-03  201901         0       0  2019-01
4          4    2019-01-04  201901         0       1  2019-01
..       ...           ...     ...       ...     ...      ...
995      995    2019-01-13  201901         1       0  2019-01
996      996    2019-01-13  201901         1       0  2019-01
997      997    2019-01-13  201901         1       0  2019-01
998      998    2019-01-13  201901         1       1  2019-01
999      999    2019-01-13  201901         1       0  2019-01

[1000 rows x 6 columns]